body {
    margin: 0;
    padding: 0;
    text-align: center; 
    background-color: #22c3aa;
    color: #eef3f0;
    font-family: "Microsoft YaHei",sans-serif;
}

.index {
    padding: 50px;
}

#avatar {
    width: 200px;
    height: 200px;
    border: 10px solid #aee2d9;
    border-radius: 50%;
}

.links {
    text-decoration: none;
    color: #eef3f0;
}

.links:hover {
    color: #aee2d9;
}

hr {
    color: #aee2d9;
    width: 50%;
}

.tag {
    display: inline-block;
    background-color: #096254;
    color: #aee2d9;
    border-radius: 3px;
    padding: 2px 8px;
    opacity: 0.5;
}

div.tag.expert {
    opacity: 1;
}

div.tag.familiar {
    opacity: 0.75;
}

.more {
    display: inline-block;
    background-color: #096254;
    color: #aee2d9;
    border-radius: 3px;
    padding: 2px 8px;
    opacity: 0.75;
}

.more:hover {
    opacity: 1;
}
